.body {
    -fx-background-color: #323130;
}

.pane {
    -fx-effect: dropshadow(gaussian, rgb(37, 237, 255), 10, 0.5, 0.0, 0.0);
    -fx-background-color: #262626;
    -fx-border-style: solid;
}

.button-buscar {
    -fx-background-color: #636262;
    -fx-background-radius: 5;
}

.button-archivo {
    -fx-background-color: #636262;
    -fx-background-radius: 5;
}

.txt-buscar {
    -fx-background-color: #636262;
    -fx-border-radius: 10;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
}

.txt {
    -fx-background-color: #323130;
    -fx-text-fill: #FFFFFF;
    -fx-highlight-fill: #878686;
}

.separator *.line {
    -fx-border-color: #575555;
    -fx-border-width: 0.3;
}